/*
Random styles because I was too lazy to find the proper implementation in owlkettle for random stuff
- Ashtaka
*/

/* .sidebar-button {
    --shade-color: green;
    --border-color: green;
    --accent-bg-color: green;
    --card-bg-color: green;
    padding: 2rem;
} */
